.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f4eff4FF;
    width: 100%;
    position: sticky;
}

.header-title {
    width: fit-content;
    padding: 1rem;
    font-size: 1.3rem;
}

.header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    gap: 2rem;
    padding: 1rem;
}