@use "/src/colors.scss" as colors;

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: colors.$container-background;
    width: 100%;

    .header-title {
        width: fit-content;
        padding: 1rem;
        font-size: 1.3rem;
    }

    .header-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: fit-content;
        gap: 2rem;
        padding: 1rem;
    }
}
