@use "/src/colors.scss" as colors;

.search-start {
    grid-column-start: 1;
    grid-column-end: 13;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #upload-input {
        display: none;
    }

    .search-prompt {
        margin: 1rem;
        font-size: 1rem;
        color: rgb(0, 0, 0, 0.6);
        text-transform: uppercase;

        .error {
            color: darkred;
            text-transform: none;
        }
    }

    .search-form {
        max-width: 300px;
        aspect-ratio: 1;
        width: 100%;
        border: 3px colors.$container-border solid;
        border-radius: 15px;

        display: flex;
        justify-content: center;
        align-items: center;

        label {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            cursor: pointer;

            img {
                width: 35%;
                height: 35%;
            }
        }

        .loader {
            /* Size of the loader */
            width: 50px;
            height: 50px;

            /* Thickness and color of the border */
            border: 5px solid colors.$color-2; /* Light grey base circle */
            border-top: 5px solid colors.$color-1; /* Blue spinning part */

            /* Make it a circle */
            border-radius: 50%;

            /* Animation properties */
            animation: spin 1s linear infinite;

            @keyframes spin {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
        }
    }

    .example-carousel {
        max-width: 300px;
        aspect-ratio: 1;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden; /* Ensure image doesn't spill out */

        .example-image {
            width: 80%;
            height: 80%;
            object-fit: contain;
        }

        .nav-btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba(0, 0, 0, 0.1);
            border: none;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            font-size: 1.5rem;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgba(0, 0, 0, 0.5);
            transition: background-color 0.2s;

            &:hover {
                background-color: rgba(0, 0, 0, 0.2);
            }

            &.prev {
                left: 0px;

                &::before {
                    content: '◀';
                    position: relative;
                    left: -2px; /* Adjust as needed */
                }
            }

            &.next {
                right: 0px;

                &::before {
                    content: '▶';
                    position: relative;
                    right: -2px; /* Adjust as needed */
                }
            }
        }
    }
}
