.content {
    max-width: 1400px;
    width: 100%;
    flex: 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;

    .content-grid {
        width: 100%;
        flex: 1 0;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 1rem;
    }
}