@use "/src/colors.scss" as colors;

.branch-selector {
    position: relative;
    cursor: pointer;
    font-size: 16px;
    color: colors.$dark-text;
    min-width: 200px;
    user-select: none;

    &__active {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 12px;
        border-radius: 6px;
        transition: background-color 0.2s;
        border: 1px solid colors.$light-border-color;

        &:hover {
            background-color: colors.$light-hover-background;
        }

        .arrow {
            border: solid colors.$dark-text;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 3px;
            margin-left: 8px;
            transition: transform 0.2s;

            &.down {
                transform: rotate(45deg);
            }

            &.up {
                transform: rotate(-135deg);
            }
        }
    }

    &__list {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: colors.$container-background;
        border-radius: 6px;
        list-style: none;
        margin-top: 4px;
        padding: 4px;
        z-index: 10;
        box-shadow: 0 4px 12px rgba(0,0,0,0.2);
        border: 1px solid colors.$light-border-color;
    }

    &__item {
        padding: 8px 12px;
        border-radius: 4px;
        transition: background-color 0.2s;

        &:hover {
            background-color: colors.$light-hover-background;
        }

        &.selected {
            font-weight: bold;
            color: colors.$color-area;
        }
    }
}
