@use "/src/colors.scss" as colors;

.dimension-filter {
    color: white;
    padding: 0.8rem;

    &.dimension-1 {
        background-color: colors.$color-1;
    }

    &.dimension-2 {
        background-color: colors.$color-2;
    }

    &.dimension-3 {
        background-color: colors.$color-3;
    }

    &.lowlight {
        opacity: 0.5;
    }

    &.highlight {
        outline: 3px solid black;
    }
}
