@import "/src/colors.scss";

.dimension-filter {
    color: white;
    padding: 0.8rem;

    &.dimension-1 {
        background-color: $color-1;
    }

    &.dimension-2 {
        background-color: $color-2;
    }

    &.dimension-3 {
        background-color: $color-3;
    }
}
