@use "/src/colors.scss" as colors;

.graph-explorer-wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    overflow: hidden;
}

.graph-explorer {
    flex-grow: 1;
    position: relative;
    /* Add any specific styling for the graph container here */
}

.graph-explorer-sidebar {
    width: 300px;
    flex-shrink: 0;
    box-sizing: border-box;
    background-color: colors.$container-background;
    padding: 1rem;
}
