$color-area: #fb8500;
$color-area-light: #ffb703;
$color-area-dark: #60181A;

$color-ability: #219ebc;
$color-ability-light: #8acae6;
$color-ability-dark: #023047;

$color-scope: #5cb85c;
$color-scope-light: #87d387;
$color-scope-dark: #28603b;

$container-border: rgb(0, 0, 0, 0.3);
$container-background: #f4eff4;

// New variables for UI elements
$dark-text: #262626;
$light-border-color: rgba(0, 0, 0, 0.1);
$light-hover-background: #e9e5e9;
